@model IEnumerable<RevenueAITask.Models.AccountType>

@{
    ViewData["Title"] = "Index";
}

<h1>Account Types</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AccountTypeDesc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AccountTypeDesc)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AccountTypeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AccountTypeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AccountTypeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
